<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created using data from <a href="http://www.mapbox.com">mapbox.com</a> and <a href="http://www.weatherstack.com">weatherstack</a>.</p>
        <p>Special thanks to <a href="http://www.mead.io">Andrew Mead</a>.</p>
    <img class="portrait" src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="profile">
    </div>
    
    {{>footer}}
</body>

</html>